/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
}

.main {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #23527c;
}

.btn-primary a {
    color: #fff;
    text-decoration: none;
}

.row {
    margin-bottom: 20px;
}

.col-form-label {
    font-weight: bold;
}

/* Color styles */
.card-title {
    color: #333;
}

.card {
    border-color: #bbb;
}

.form-control {
    background-color: #f8f8f8;
    border-color: #ddd;
}

.form-control:focus {
    background-color: #fff;
    border-color: #337ab7;
    box-shadow: none;
    color: #333;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-primary:hover {
    background-color: #23527c;
    border-color: #23527c;
}

.btn-primary a {
    color: #fff;
}

.row {
    margin-bottom: 20px;
}

.row-label {
    color: #666;
}

.row-button {
    margin-top: 10px;
}
