/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #23527c;
}

.button-primary {
    background-color: #5cb85c;
}

.total {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.count {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: bold;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination li a:hover {
    background-color: #ddd;
}

.pagination li.active a {
    background-color: #337ab7;
    color: #fff;
}

.action-buttons {
    display: flex;
}

.action-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #5cb85c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.action-button:hover {
    background-color: #449d44;
}




.col-id {
    width: 10%;
    background-color: #3598db;
    color: #fff;
    border: 1px solid #ccc;
}

.col-seri {
    width: 20%;
    background-color: #16a085;
    color: #fff;
    border: 1px solid #ccc;
}

.col-code {
    width: 20%;
    background-color: #f39c12;
    color: #fff;
    border: 1px solid #ccc;
}

.col-date {
    width: 20%;
    background-color: #8e44ad;
    color: #fff;
    border: 1px solid #ccc;
}

.col-expiry {
    width: 20%;
    background-color: #c0392b;
    color: #fff;
    border: 1px solid #ccc;
}

.col-action {
    width: 10%;
    background-color: #2c3e50;
    color: #fff;
    border: 1px solid #ccc;
}
